#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Gmail Notifier
GenericName=Email Notifier
Comment=Be notified of email as soon it arrives in your Gmail inbox.
Exec=gmail_notifier
Icon=email
StartupNotify=false
Terminal=false
Type=Application
Categories=Network;Email;
